<h2>Plant Library: Your Submission</h2>
<h3>Thank you for submitting the <%=@tomato.variety%> Variety to the Database!</h3>
<br></br>

<p><strong>Variety: </strong><%=@tomato.variety%>
<br><strong>Growth Type: </strong><%= @tomato.growth_type%>
<br><strong>Days: </strong><%=@tomato.days%>
<br><strong>Details: </strong><%=@tomato.details%></p>
<br>

<p><a href="/tomatoes/new">Create</a> Another Variety of Tomato
<br><a href="/tomatoes/<%=@tomato.id%>/edit">Edit This Variety</a></p>
