<h2>Welcome to the Plant Library!</h2>
<br>
<!-- Note to self: goal is to iterate through seeded database after seeding the database -->
<p><a href="/tomatoes">Create</a> a New Variety of Tomato</p>
<br>

<h2>Current Tomato Varieties:</h2>
<%@all_tomatoes.each.with_index(1) do |tomato, index|%>
  <h3><strong>Variety #<%="#{index}"%>: </strong><%=tomato.variety%></h3>
  <br><strong>Growth Type: </strong><%=tomato.growth_type%>
  <br><strong>Days: </strong><%=tomato.days%>
  <br><strong>Details: </strong>
      <%if tomato.details%>
          <%split_details = tomato.details.split(".")%>
          <%split_details.each do |phrase|%>
              <%=phrase%><br>
          <%end%>
      <%end%>
      <br>
<%end%>
