<h1>Planting Calendar</h1>

<% start_date = Date.today %>
<% date_range = (start_date.beginning_of_month..start_date.end_of_month).to_a %>
<% @prev_month = start_date.beginning_of_month - 1%>
<% @next_month = start_date.beginning_of_month + 1 %>

<h3><%=start_date.month%> / <%=start_date.year%></h3>

<p><a href="/previous_month/<%= @prev_month%>">Previous</a> - <a href="">Next</a></p>
<table>
  <thead>
      <tr>
          <% date_range.slice(0,7) do |day| %>
            <th><%= I18n.t("date.day_names")[day.wday] %></th>
            <%end%>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tues</th>
          <th>Wed</th>
          <th>Thurs</th>
          <th>Fri</th>
          <th>Sat</th>
      </tr>
  </thead>

  <tbody>
        <% date_range.each_slice(7) do |week|%>
      <tr>
            <% week.each do |day| %>
              <td>
                  <div><%= day.mday %></div>
              </td>
            <%end%>
      </tr>
        <%end%>
        <br></br>
  </tbody>
</table>
